body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}

.content {
	height: 100vh;
	margin: auto;
	max-width: 720px;
	min-width: 450px;
	padding-top: 46px;
	position: relative;
	width: min(100%, 50vw);
}

.navbar {
	background-color: #333;
	display: flex;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}

.navbar a {
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.subnav {
	position: relative;
}

.subnav .subnavbtn {
	font-size: 16px;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

.navbar a:hover,
.subnav:hover .subnavbtn {
	background-color: red;
}

.subnav-content {
	display: none;
	position: absolute;
	left: 0;
	top: 100%;
	background-color: red;
}

.subnav-content a {
	color: white;
	text-decoration: none;
}

.subnav-content a:hover {
	background-color: #eee;
	color: black;
}

.subnav:hover .subnav-content {
	display: inline-flex;
}

.heading1 {
	padding: 20px;
}

.side-pictures {
	height: 100%;
	opacity: 0.8;
}

.lolpic1 {
	position: absolute;
	right: 100%;
	top: 0;
}

.lolpic2 {
	left: 100%;
	position: absolute;
	top: 0;
}
